@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #14171c;
  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #ff6694;
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #ff8ab0;
}